$enable-shadows: true;
$primary: hsl(16, 80%, 55%);

$border-radius-xs: 0.125rem;
$border-radius-sm: .25rem;
$border-radius: .375rem;
$border-radius-lg: .5rem;
$border-radius-xl: 0.75rem;
$border-radius-xxl: 1rem;
$border-radius-xxxl: 1.5rem;
$border-radius-xxxxl: 2.25rem;
$border-radius-pill: 50rem;
